<footer>
  <div class="row footer">
    <div class="col-md-6 footer-links">
      <div class="footer-links-rss">
        <p class="label">Follow us</p>
        <div class="rss-icon">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="footer-links-information">
        <p class="label">Información</p>
        <p class="bodyText">Términos y condiciones</p>
        <p class="bodyText">Nosotros</p>
        <p class="bodyText">Jobs</p>
      </div>
    </div>
    <div class="col-md-6 footer-contact">
      <div class="footer-contact-details">
        <p class="label">Escribínos</p>
        <h3 class="titleLevelThree">after-dark@hotmail.com</h3>
      </div>
      <div class="footer-form">
        <p class="label">Keep in touch</p>
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="Nombre" class="footer-input" />
            </div>
            <div class="col-md-6">
              <input type="email" placeholder="Email" class="footer-input" />
            </div>
          </div>

          <textarea
            placeholder="Déjanos tu mensaje"
            class="footer-input"
          ></textarea>

          <input type="submit" value="Enviar" class="button-inverse" />
        </form>
      </div>
    </div>
  </div>
</footer>
