<header>
  <div class="col-md-12 header-title">
    <div>
      <h1 class="titleLevelOne">After Dark</h1>
      <h2 class="titleLevelTwo">Sunglasses</h2>
    </div>
  </div>

  <nav>
    <div class="drawer" id="drawer">
      <div class="options-menu">
        <p class="menuItem">Lentes de sol</p>
      </div>
      <div class="options-menu">
        <p class="menuItem">Lentes de ver</p>
      </div>
      <div class="options-menu">
        <p class="menuItem">Accesorios</p>
      </div>
      <div class="options-menu">
        <p class="menuItem">Envios</p>
      </div>
      <div class="options-menu">
        <p class="menuItem">Contact us</p>
      </div>
      <div class="options-menu">
        <button class="button-inverse">Sing In</button>
      </div>
    </div>

    <div class="header-menu">
      <div class="header-menu-mobile">
        <div id="toggle-menu"><i class="fas fa-bars"></i></div>
        <div><img src="/images/logo.png" alt="logo" /></div>
        <div><i class="fas fa-shopping-cart"></i></div>
      </div>

      <div class="header-menu-desktop">
        <div class="options-menu">
          <p class="menuItem">Lentes de sol</p>
        </div>
        <div class="options-menu">
          <p class="menuItem">Lentes de ver</p>
        </div>
        <div class="options-menu">
          <p class="menuItem">Accesorios</p>
        </div>
        <div class="options-menu">
          <p class="menuItem">Envios</p>
        </div>
        <div class="options-menu">
          <p class="menuItem">Contact us</p>
        </div>
        <div class="options-menu">
          <button class="button-inverse">Sing In</button>
        </div>
      </div>
    </div>
  </nav>
</header>
