<header>
  <div class="col-md-12 header-title">
    <a href="/">
      <h1 class="titleLevelOne">After Dark</h1>
      <h2 class="titleLevelTwo">Sunglasses</h2>
    </a>
  </div>

  <nav>
    <div class="drawer" id="drawer">
      <div class="options-menu">
        <a href="/products/categories/SUNGLASSES">
          <p class="menuItem">Lentes de sol</p>
        </a>
      </div>
      <div class="options-menu">
        <a href="/products/categories/VIEWING_GLASSES">
          <p class="menuItem">Lentes de ver</p>
        </a>
      </div>
      <div class="options-menu">
        <a href="/products/categories/ACCESORIES">
          <p class="menuItem">Accesorios</p>
        </a>
      </div>
      <div class="options-menu">
        <p class="menuItem">Envios</p>
      </div>
      <div class="options-menu">
        <p class="menuItem">Contact us</p>
      </div>
      <div class="options-menu">
        <button class="button-inverse">Sing In</button>
      </div>
    </div>

    <div class="header-menu">
      <div class="header-menu-mobile">
        <div id="toggle-menu"><i class="fas fa-bars"></i></div>
        <div>
          <a href="/"><img src="/images/logo.png" alt="logo" /></a>
        </div>
        <div><i class="fas fa-shopping-cart"></i></div>
      </div>

      <div class="header-menu-desktop">
        <div class="options-menu">
          <a href="/products/categories/SUNGLASSES">
            <p class="menuItem">Lentes de sol</p>
          </a>
        </div>
        <div class="options-menu">
          <a href="/products/categories/VIEWING_GLASSES">
            <p class="menuItem">Lentes de ver</p>
          </a>
        </div>
        <div class="options-menu">
          <a href="/products/categories/ACCESORIES">
            <p class="menuItem">Accesorios</p>
          </a>
        </div>
        <div class="options-menu">
          <p class="menuItem">Envios</p>
        </div>
        <div class="options-menu">
          <p class="menuItem">Contact us</p>
        </div>
        <div class="options-menu">
          <button class="button-inverse">Sing In</button>
        </div>
      </div>
    </div>
  </nav>
</header>
